body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

#checkboxContainer {
  display: flex;
  flex-direction: column;
}

.checkboxRow {
  display: flex;
  justify-content: space-between;
}

.courseCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}